<div class="web">
	<a class="navbarlogo" href="#">
		<img src="{{asset('assets/images/logobeige.svg')}}" width="50" alt="POK'GOURMET Logo" href="{{path('app_home')}}" class="brand-logo"/>
	</a>
	<!-- <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a> -->

	<ul class="menuweb justify-content-space-between right hide-on-med-and-down" width="1000">

		<li class="menunav-item">
			<a class="h5menu" href="{{path('app_home')}}">Accueil</a>
		</li>

		<li class="menunav-item ">
			<a class="h5menu" href="#">Notre concept</a>
		</li>

		<li class="menunav-item ">
			<a class="h5menu" href="#">Nos offres</a>
		</li>

		{# <li class="menunav-item ">
			<a class="h5menu" href="#">Nos recettes</a>
		</li> #}

		<li class="menunav-item ">
			<a class="h5menu" href="#{# {{path('app_blog')}} #}">Blog conseils</a>
		</li>
		
		{# <li class="menunav-item ">
			<a href="#" class="h5menu connection  btn green ">Connexion<i class="material-icons right">lock_open</i></a>
		</li>
		
		<li class="menunav-item ">
			<a href="#"><i class="h5menu material-icons">dashboard</i></a>
		</li>
		
		<li class="menunav-item ">
			<a href="#"><i class="h5menu material-icons">edit</i></a>
		</li>
		
		<li class="menunav-item ">
			<a  href="#" class="h5menu deconnection btn red ">Déconnexion<i class="material-icons right">lock_outline</i></a>
		</li>
		 #}
	</ul>
</div>
		
